<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colorpicker Vue</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colorpicker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- colorpicker element -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Colorpicker</a>
    </div>
</nav>
<div id="app">
    <div class="canvas-container">
        <canvas  v-on:mouseMove="mouseOverCanvas"
                 v-on:click="freezeColor"
                 id="picker" var="1" width="300px" height="300px">
        </canvas>
    </div>

    <div class="colorpicker container ">
        <div class="col s8 offset-s2">

            <!--<picker></picker>-->
            <div class=" card controls col s12">
                <form>
                    <div class="row">
                        <h5 class="col s10 offset-s1">Rgb Sliders</h5>
                    </div>
                    <div class="row">
                        <label class="col s1 offset-s1">Red</label>
                        <input class="col s8" type="range" id="rVal" name="points" v-model="red" min="0" max="255">
                        <!--<label class="col s1" type="number" v-model="red" id="rNum" min="0" max="255"><br>-->
                        <label class="col s1 right-align" >{{red}}</label>
                    </div>
                    <div class="row">
                        <label class="col s1 offset-s1">Green</label>
                        <input class="col s8" type="range" id="gVal" name="points" v-model="green" min="0" max="255">
                        <!--<label class="col s1 " type="number" v-model="green" id="gNum" min="0" max="255"><br>-->
                        <label class="col s1 right-align" >{{green}}</label>
                    </div>
                    <div class="row">
                        <label class="col s1 offset-s1">Blue</label>
                        <input class="col s8" type="range" id="bVal" name="points" v-model="blue" min="0" max="255">
                        <!--<label class="col s1" type="number"v-model="blue" id="bNum" min="0" max="255"><br>-->
                        <label class="col s1 right-align" >{{blue}}</label>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
<script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDkWfspxRALQHEx5fF0mk0OV6FtJt3Npqg",
        authDomain: "ambilight-c124f.firebaseapp.com",
        databaseURL: "https://ambilight-c124f.firebaseio.com",
        projectId: "ambilight-c124f",
        storageBucket: "",
        messagingSenderId: "1095782358204"
    };
    firebase.initializeApp(config);
</script>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="vue.js"></script>
</body>
</html>
</body>
</html>